<div
  data-controller="full-screen"
  data-action="click->full-screen#toggle"
  id="full-screen"
  class="disabled"
>
  <span class="disabled-text">Go</span>
  <span class="enabled-text">Exit</span>
  full screen
</div>