<div
  class="pattern <%= type %>"
  data-patterns-menu-target="pattern"
  data-id="<%= pattern.id %>"
  data-name="<%= pattern.name %>"
>
  <%= svg "patterns/#{pattern.name}.svg", 'svg-pattern' %>
</div>