<div id="game">
  <canvas
    data-controller="game"
  >
  </canvas>
  <button id="pattern-reveal">Reveal Pattern</button>

  <div id="patterns-menu" data-controller="patterns-menu">
    <div id="current-pattern" data-patterns-menu-target="currentPattern" data-id="<%= @current_pattern.id %>">
       <%= render 'pattern', pattern: @current_pattern, type: 'current' %>
    </div>
    <div id="hide-pattern-menu" data-action="click->patterns-menu#toggle">
      <%= svg 'caret' %>
    </div>
    <div id="patterns">
      <% @patterns.each do |pattern| %>
        <div data-action="click->patterns-menu#selectPattern">
          <%= render 'pattern', pattern: pattern, type: pattern == @current_pattern ? 'selected' : '' %>
        </div>
      <% end %>
    </div>
  </div>
</div>