.display-none {
  display: none!important;
}

.centered-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes wobble {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-10px);
  }

  40% {
    transform: translate(10px);
  }

  50% {
    transform: translate(-5px);
  }

  60% {
    transform: translate(5px);
  }

  65% {
    transform: translate(-2.5px);
  }

  70% {
    transform: translate(2.5px);
  }

  75% {
    transform: translate(-1px);
  }

  80% {
    transform: translate(1px);
  }

  85% {
    transform: translate(-0.5px);
  }

  95% {
    transform: translate(0.5px);
  }

  100% {
    transform: translate(0);
  }
}