// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

$font: 'Rubik', sans-serif;

// Colors
$color-primary: #2c464b;
$color-secondary: #acc8ce;

// Border radius
$border-radius: 0.375rem;

// Border
$border: solid 2px $color-primary;

// Shadows
$shadow-large: 2px 4px 10px hsl(0 0% 0% / 0.1);
$shadow-small: 1px 3px 6px hsl(0 0% 0% / 0.1);