// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

$font: 'Rubik', sans-serif;

// Colors
$color-primary: #2c464b;
$color-secondary: #acc8ce;
$color-light-gray: #cdcdcd;

// Border radius
$border-radius: 0.375rem;

// Border
$border: solid 2px $color-primary;
