// Colors
$color-primary: #2c464b;

// Border radius
$border-radius: 0.375rem;

// Border
$border: solid 2px $color-primary;

// Shadows
$shadow-large: 2px 4px 10px hsl(0 0% 0% / 0.1);
$shadow-small: 1px 3px 6px hsl(0 0% 0% / 0.1);