<div
  data-controller="help-modal"
  data-open="false"
>
  <div
    class="help-modal-trigger"
    data-action="click->help-modal#open"
  >
    <%= svg 'icons/help.svg' %>
  </div>
  <div class="modal-container">
    <div class="help-modal centered-flexbox">
      <div class="modal-content centered-flexbox">
        <div class="modal-close" data-action="click->help-modal#close">
          <%= svg 'icons/cross.svg' %>
        </div>
        <div class="modal-title">
          <h1>You're a Boss!</h1>
        </div>
        <div class="modal-body">
          "Coucou"
        </div>
        <div class="modal-buttons">
          <button class="button primary" data-action="click->help-modal#close">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
