<div
  class="winning-modal-container"
  data-controller="winning-modal"
  data-action="game:currentPatternSolvedForTheFirstTime@document->winning-modal#open"
  data-open="false"
>
  <div
    class="winning-modal centered-flexbox"
    data-winning-modal-target="background"
    data-action="click->winning-modal#maybeClose"
  >
    <div class="modal-content centered-flexbox">
      <div class="modal-close" data-action="click->winning-modal#close">
        <%= svg 'icons/cross.svg' %>
      </div>
      <div class="modal-title">
        <h1>You're a Boss!</h1>
      </div>
      <div class="modal-body" data-winning-modal-target="body">
        <!-- ... -->
      </div>
      <div class="modal-buttons">
        <button class="button primary" data-action="click->winning-modal#closeAndContinue">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
