<div class="modal-container display-none" data-controller="modal">
  <div class="modal centered-flexbox">
    <div class="modal-content centered-flexbox">
      <div class="modal-title">
        <h1>You're a Boss!</h1>
      </div>
      <div class="modal-body">
        <!-- ... -->
        <%= svg "/patterns/#{@current_pattern.name}_revealed.svg" %>
      </div>
      <div class="modal-buttons">
        <button class="button primary" data-action="click->modal#close">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
