.button {
  width: 100%;
  padding: 10px 30px;
  border-radius: $border-radius;
  cursor: pointer;

  &.primary {
    border: none;
    background-color: $color-primary;
    color: white;
  }

  &.secondary {
    border: 2px solid $color-primary;
    background-color: transparent;
    color: $color-primary;
  }
}