#current-pattern {
  position: absolute;
  bottom: 220px;
  padding: 15px;
  border-radius: $border-radius;
  border: $border;
  background-color: rgba(255, 255, 255, 0.5);

  .pattern-svg svg {
    width: 130px;
    height: 130px;
    fill: $color-primary;
  }

  .reveal-pattern {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 5px;
    fill: $color-primary;
    cursor: pointer;
  }

  &[data-solved=true] {
    .pattern-svg path {
      fill: $color-primary;
    }

    .reveal-pattern {
      display: block;
    }
  }

  &[data-revealed=true] {
    .reveal-pattern {
      .eye {
        display: none;
      }
      .eye-crossed {
        display: block;
      }
    }
  }

  &[data-revealed=false] {
    .reveal-pattern {
      .eye {
        display: block;
      }
      .eye-crossed {
        display: none;
      }
    }
  }

  &[data-animated=true] {
    .pattern-svg svg {
      animation: .8s ease-in-out wobble;
    }
  }
}