.flash {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: 10px;

  &.alert {
    background-color: $color-red;
    .message, .close {
      color: white;
    }
  }

  &.notice {
    background-color: $color-secondary
  }

  .message {
    width: 100%;
    padding: 10px;
  }

  .close {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}