.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    form {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin: 20px 0;

      input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
      }

      .button {
        padding: 15px 10px;
        font-size: 16px;
      }

      .actions {
        text-align: center;

        a {
          margin-top: 10px;
        }
      }
    }
  }

  a {
    color: $color-primary
  }
}

.logout {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: $color-primary;
  font-family: $font;
  padding: 0;
  cursor: pointer;
}