#nav {
  right: 0;
  top: 0;
  z-index: 10;
  padding: 10px;
  font-size: 14px;
  color: $color-primary;
  user-select: none;
  transition: right .3s ease;

  .nav-element {
    border-right: 1px solid $color-primary;
    padding: 0 10px;
    cursor: pointer;

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  &.small {
    right: -160px;
  }
}