  #patterns-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 20px;
    transition: bottom .5s ease, visibility 1s ease, opacity 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;

    #hide-pattern-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      cursor: pointer;

      svg {
        transition: transform .5s ease;

        path {
          fill: $color-primary;
        }
      }
    }

    #patterns {
      margin: 0 50px 10px 50px;
      padding: 15px;
      max-width: 1300px;
      width: 100%;
      background-color: white;
      display: flex;
      column-gap: 50px;
      justify-content: space-between;
      overflow-x: overlay;
      border-radius: $border-radius;
      border: $border;

      &::-webkit-scrollbar {
        height: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background: $color-secondary;
        border-radius: 10px;
        border: 7px solid white;
      }
    }

    &.hidden {
      bottom: -140px;

      #hide-pattern-menu svg {
        transform: scale(1, -1);
      }
    }

    &.removed {
      visibility: hidden;
      opacity: 0;
    }
  }