.pattern {
  padding: 10px;
  border-radius: $border-radius;
  transition: background-color .3s ease, transform .3s ease;
  cursor: pointer;

  svg {
    width: 80px;
    height: 80px;
    fill: $color-primary;
    stroke: $color-primary;
    stroke-width: 3px;
  }

  &[data-solved=true] {
    path {
      fill: $color-primary;
    }
  }

  &[data-selected=true] {
    background-color: $color-secondary;
  }
}