.winning-modal-container {
  visibility: hidden;
  .winning-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    .modal-content {
      width: 100%;
      max-width: 870px;
      height: 70%;
      position: relative;
      background-color: white;
      margin: 50px;
      border-radius: $border-radius;
      flex-direction: column;
      row-gap: 25px;
      opacity: 0;
      transition: opacity 1s ease-in-out;

      .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 25px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 1s ease-in-out 7s;

        svg {
          width: 35px;
          height: 35px;
          fill: $color-light-gray;
          transition: fill .5s ease;
        }

        &:hover svg {
          fill: $color-primary
        }

      }

      .modal-title {
        opacity: 0;
        transition: opacity 1s ease-in-out 6s;
        h1 {
          color: $color-primary;
          font-weight: 400;
          margin: 0;
          padding: 0 25px;
          max-width: 500px;
          text-align: center;
        }
      }

      .modal-body {
        svg {
          width: 200px;
          height: 200px;
          animation: .8s ease-in-out 5s wobble;
          path {
            opacity: 0;
            transform-origin: center;
          }

          #bigTriangle {
            fill: #2f4e54;
            animation: 1s ease-in-out 1s forwards fade-in, 1s ease-in-out 2.5s forwards fill-color;
          }
          #bigTriangle-2 {
            fill: #2f4e54;
            animation: 1s ease-in-out 1.25s forwards fade-in, 1s ease-in-out 2.75s forwards fill-color;
          }
          #mediumTriangle {
            fill: #b3c6c6;
            animation: 1s ease-in-out 1.5s forwards fade-in, 1s ease-in-out 3s forwards fill-color;
          }
          #smallTriangle {
            fill: #7a9e9f;
            animation: 1s ease-in-out 1.75s forwards fade-in, 1s ease-in-out 3.25s forwards fill-color;
          }
          #smallTriangle-2 {
            fill: #7a9e9f;
            animation: 1s ease-in-out 2s forwards fade-in, 1s ease-in-out 3.5s forwards fill-color;
          }
          #cube {
            fill: #a07178;
            animation: 1s ease-in-out 2.25s forwards fade-in, 1s ease-in-out 3.75s forwards fill-color;
          }
          #parallelogram {
            fill: #f7e8a4;
            animation: 1s ease-in-out 2.5s forwards fade-in, 1s ease-in-out 4s forwards fill-color;
          }
        }
      }

      .modal-buttons {
        display: flex;
        column-gap: 10px;
        opacity: 0;
        transition: opacity 1s ease-in-out 7s;
        margin-top: 20px;
      }
    }
  }

  &[data-open=true] {
    visibility: visible;

    .winning-modal .modal-content {
      opacity: 1;

      .modal-close {
        opacity: 1;
      }

      .modal-title {
        opacity: 1;
      }

      .modal-buttons {
        opacity: 1
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fill-color {
  100% {
    fill: $color-primary;
  }
}

@media (max-width: 575px) {
  .winning-modal-container .winning-modal .modal-content {
      margin: 10px;
  }
}