@import 'config/variables';
@import 'config/utilities';

@import 'layouts/game';

@import 'components/logo';
@import 'components/nav';
@import 'components/patterns_menu';
@import 'components/pattern';
@import 'components/current_pattern';
@import 'components/help_modal';
@import 'components/winning_modal';
@import 'components/button';
@import 'components/login_form';
@import 'components/flash';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font;

  #game {
    user-select: none;

    canvas {
      user-select: none;
    }
  }
}

